<div class="container">
  <div class="row">
    <h1 class="mx-auto">About</h1>
    <div class="col-md-12 mt-4 text-center">
     <p>ながのCAKEは全国発送可能なケーキ屋さんです。</p>
     <p>お子様からお年寄りの方までお召し上がりいただけるよう、</p>
     <p>様々なバリエーションをご用意しております。</p>
     <p>また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</p>
     <p>ぜひご注文ください。</p>
     <%= image_tag 'PAK57_ichigonocake_TP_V4.jpg' %>
    </div>
  </div>
</div>