<div class="container">
 <div class="row">
  <div class="col-md-8">
   <h4 class="mt-4 mb-5">ジャンル編集</h4>
   <%= form_with model: @genre, url: admin_genre_path do |f| %>
    <%= f.label :name, "ジャンル名" %>
    　　　<%= f.text_field :name %>
    　　<%= f.submit "変更を保存", class: "btn btn-success ml-4" %>
   <% end %>
  </div>
 </div>
</div>
 