<div class="container d-flex align-items-center justify-content-center" style="height:500px;">
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center mt-5">ご注文ありがとうございました！</h3>
    </div>
  </div>
</div>